extends layout.static.jade

block title
  |Typical

block main
  .main(ng-app="when" ng-controller="MainCtrl" ng-cloak)
    .top
      .row
        .small-12.text-center.columns
          img(width="206" height="51" src="img/logo@2x.png")
    .contents
      .row
        .small-12.large-offset-2.large-8.columns
          input.huge(type="text" ng-model="moment")
      .detected(ng-show="detected != null"
        ng-class="{ 'animated fadeIn' : detected != null, 'fadeOut': detected == null }")
        .row
          .small-2.large-offset-2.large-1.columns
            p.key What
          .small-10.large-7.columns
            p(ng-bind="detected.desc")
          .small-0.large-2
        .row
          .small-2.large-offset-2.large-1.columns
            p.key When
          .small-10.large-7.columns
            p(ng-bind="detected.date.long()")
          .small-0.large-2
        .row
          .small-12.large-offset-2.large-8.columns.text-center
            p
              a(href="{{detected.link}}" download="{{detected.filename}}")
                i.download.foundicon-down-arrow
          .small-0.large-2
